*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/**************************************
GENERALE
*************************************/
.flex{
    display: flex;
}
.flexDirectioneColumn{
    flex-direction: column;
}
.justifyContentBetween{
    justify-content: space-between;
}
.justifyContentEnd{
    justify-content: flex-end;
}
.justifyContentCenter{
    justify-content: center;
}
.wrap{
    flex-wrap: wrap;
}
.gap{
    gap: 2rem;
}
.alignContentCenter{
    align-content: center;
}
.alignItemsCenter{
    align-items: center;
}
.alignItemsBaseline{
    align-items: baseline;
}
.textCenter{
    text-align: center;
}
.borderRadius10{
    border-radius: 20px;
}
.borderRadius50{
    border-radius: 50%;
}
/*****MISURE WIDTH*****/
.w100 {width: 100%;}
.w90  {width: 90%;}
.w80  {width: 80%;}
.w70  {width: 70%;}
.w60  {width: 60%;}
.w50  {width: 50%;}
.w40  {width: 40%;}
.w30  {width: 30%;}
.w20  {width: 20%;}
.w10  {width: 10%;}

/**************COLORI**********/
.bgBlue  { background-color: #0084fd;}
.bgWhite { background-color: white;}
.cWhite  {color: white;}
.cViola {color: #9792e4;}
.bgColorViola{
      background-color: #9792e4;
}
/*******PADDING E MARGIN***********/
.mAuto{
    margin: 0 auto;
}
.mBottom{
    margin-bottom: 1rem;
}
.mTop{
    margin-top: 1rem;
}
.padding5{
    padding: 5px;
}


/*******************************
HEADER
********************************/
.headerRight{
    justify-content: flex-end;
    color: white;
}
.none{
    display: none;
}
.logo{
    margin: 0.5rem 0;
}
.container{
    width: 90%;
}
/********************************
HEADER SUPERIORE A 769PX 
*******************************/

@media screen and ( min-width: 769px ) {
    
    .headerRight{
        justify-content: space-between;
    }
    
    div.hamburger{
        display: none;
    }
    .none{
        display: inline;
    }

    nav button{
        padding: 10px;
        border-radius: 10%;
        background-color: white;
        border: none;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    nav a {
        color: white;
        text-decoration: none;
    }
    
}
/************************************
PRIMA SEZIONE
*************************************/
section{
    margin: 2rem auto;
}
h4,  p,  button.apple{
    margin: 1rem;
}
div.boxBottom > h4 , div.box1  h4{
    text-align: center;
    color: #0084fd;
}
.bgColorLight{
    background-color: #b5ddff;   
}
.box{
    border-radius: 10%;

}
button.apple{
    border: none;
    border-radius: 20px;
    background-color: #0084fd;
    color: white;
    padding: 1rem;
}

.boxBottom{
    padding-bottom: 2rem;
    text-align: center;
}
.boxTop{
    color: #0084fd;
    font-size: 5rem;
    margin: 2rem;
}
/************************************
PRIMA SEZIONE TRA 480 E 768 TABLET
*************************************/
@media screen and (min-width: 481px ) and ( max-Width: 768px ){
   section.uno{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .container{
        width: 60%;
    }
    .box.box1{
        width: 60%;
    }
    .box{
        width: 30%;
    }
    
}

/**************************************
PRIMA SEZIONE DOPO 769 PC 
**************************************/

@media screen and ( min-Width: 769px ) {
    section.uno{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 60%;
    }
    .box.box1{
        flex-direction: row;
        width: 60%;
    }
    .box{
        width: 30%;

    }
    .phone{
        margin-top: 9.5rem;
    }
}
/***************************************
SECONDA SEZIONE
****************************************/

.containerSecondSection{
    width: 90%;
}
.boxSecondSectionRight{
    width: 100%;
}
.boxSecondSectionLeft{
    width: 100%;
}
/************************************
SECONDA SEZIONE TRA 480 E 768 TABLET
*************************************/
@media screen and (min-width: 481px ) and ( max-Width: 768px ){
    
}

/**************************************
SECONDA SEZIONE DOPO 769 PC 
**************************************/

@media screen and ( min-width: 769px ) {
    .containerSecondSection{
        width: 60%;
    }
    .boxSecondSectionRight{
        width: 50%;
    }
    p.cWhite, h4.cWhite{
        margin-top: 3rem;
    }
    .boxSecondSectionLeft{
        width: 40%;
        margin-top: 10rem;
    }
}
/******************************************
TERZA SEZIONE
******************************************/
.ContainerThreeSection{
    width: 90%;
}
.Box1ThreeSection, .Box2ThreeSection, .Box3ThreeSection, .Box4ThreeSection {
    width: 100%;
    margin: auto;
}
/************************************
TERZA SEZIONE TRA 480 E 768 TABLET
*************************************/
@media screen and (min-width: 481px ) and ( max-Width: 768px ){
    .Box2ThreeSection, .Box3ThreeSection, .Box4ThreeSection{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        border-radius: 20px;
        gap: 1rem;
    }
}
/**************************************
TERZA SEZIONE DOPO 769 PC 
**************************************/

@media screen and ( min-width: 769px ) {
    .Box2ThreeSection, .Box3ThreeSection, .Box4ThreeSection{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        border-radius: 20px;
        gap: 1rem;

    }
    .ContainerThreeSection{
        width: 60%;
    }
}
/******************************************
QUARTA SEZIONE
*****************************************/
.scheda{
    width: 80%;
    margin: auto;
    border-radius: 1rem;
}
.boxInsideScheda{
    width: 80%;
    padding: 10px;
}
.boxInsideScheda > h3{
    font-size: 3rem;
    margin-left: 1rem;
}
.boxInsideScheda > div button{
    margin-left: 1rem;
    border: none;
}
.ContainerFourSection{
    width: 90%;
}
div.ContainerFourSection > .TopFourSection{
    margin: 1rem;
    font-size: 2rem;
}
.BottomFourSection{
    margin-bottom: 2rem;
}
/************************************
QUARTA SEZIONE TRA 480 E 768 TABLET
*************************************/
@media screen and (min-width: 481px ) and ( max-Width: 768px ){
    .BottomFourSection{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 90%;
        justify-content: center;
    }
    .scheda{
        width: calc( 100% / 2 - 4rem);
    }
}

/**************************************
TERZA SEZIONE DOPO 769 PC 
**************************************/

@media screen and ( min-width: 769px ){
    .ContainerFourSection{
        width: 70%;
    }
    
    .BottomFourSection{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }
    .scheda{
        width: calc( 100% / 3 - 2rem);
    }
    .boxInsideScheda{
        width: 100%;
    }
}
/***********************************
QUINTA SEZIONE
************************************/
